* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #1F2A37;
}

::-webkit-scrollbar-thumb {
    background: #4B5563;
    border-radius: 5px;
}